<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psteam.foodlocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodLocation"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.UserBookTableHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OrderFoodActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.RestaurantMapActivity"
            android:exported="true" />
        <activity
            android:name=".activities.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserReserveTableDetailsActivity"
            android:exported="true" >
            <intent-filter>
            <action android:name="com.psteam.location_User" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activities.ManagerCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MapRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ReserveTableDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReserveTableActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.MapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RestaurantRegistrationStep2Activity"
            android:exported="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".activities.RestaurantRegistrationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.RestaurantDetailsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.BusinessOrNormalActivity"
            android:exported="true" />
        <activity
            android:name=".activities.BusinessActivity"
            android:exported="true" />
        <activity
            android:name=".activities.VerifyOTPActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SendOTPActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.FetchAddressIntentServices"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.ServiceFCM"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>